<!--<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://placehold.it/1200x400/16a085/ffffff&text=About Us">
                <div class="carousel-caption">
                    <h3>
                        Headline
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/1200x400/e67e22/ffffff&text=Projects">
                <div class="carousel-caption">
                    <h3>
                        Headline
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/1200x400/2980b9/ffffff&text=Portfolio">
                <div class="carousel-caption">
                    <h3>
                        Headline
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/1200x400/8e44ad/ffffff&text=Services">
                <div class="carousel-caption">
                    <h3>
                        Headline
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr.
                    </p>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills nav-justified">
            <li data-target="#myCarousel" data-slide-to="0" class="active">
                <a href="#">
                    About<small>
                        Lorem
                        ipsum dolor sit
                    </small>
                </a>
            </li>
            <li data-target="#myCarousel" data-slide-to="1">
                <a href="#">
                    Projects<small>
                        Lorem ipsum
                        dolor sit
                    </small>
                </a>
            </li>
            <li data-target="#myCarousel" data-slide-to="2">
                <a href="#">
                    Portfolio<small>
                        Lorem ipsum
                        dolor sit
                    </small>
                </a>
            </li>
            <li data-target="#myCarousel" data-slide-to="3">
                <a href="#">
                    Services<small>
                        Lorem ipsum
                        dolor sit
                    </small>
                </a>
            </li>
        </ul>
    </div>
     End Carousel 
</div>-->
<!-- Orange area on website  -->
<div id="orange">
    <div class="jumbotron" id="transparency">
        <h1>Welcome, </h1>
        <h5>
            We present you CeMeo, a meeting app to create businessmeetings in <br />
            a very fast and simple way.
        </h5>
        <h5>
            Discover more features of this app below and ask your business if you <br />
            want to use this app. <br />
            ...
            @Html.ActionLink("Go to test", "Test", "Home")
        </h5>
        <img src="~/assets/img/1.png" alt="iphoneApp" id="iphoneimage">
    </div>
</div>
<!-- Red area on website  -->
<div id="red">
    <div class="text">
        <h1>Support of iOS</h1>
        <h5>
            We support iOS, a native build app with lots of usefull features. <br />
        </h5>
        <h5>
            Discover more of our suppport in iOS below <br />
        </h5>
    </div>
    <div class="span4">
        <div class="thumbnail" id="background7">
            <div class="caption">
                <h4>Personal profile</h4>
                <p>
                    Get your information through your own <br />
                    personal business profile. Your exchange <br />
                    account will be automatically used for this. <br />
                </p>
            </div>
            <img src="~/assets/img/2.png" alt="...">
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail" id="background8">
            <div class="caption">
                <h4>Upcoming meetings</h4>
                <p>
                    Get a list of your upcoming meetings, <br />
                    click and see the details. <br />
                    Never miss an important appointment again. <br />
                </p>
            </div>
            <img src="~/assets/img/3.png" alt="...">
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail" id="background9">
            <div class="caption">
                <h4>Fast meetings</h4>
                <p>
                    Fast choosing between timespans <br />
                    and make ik possible to plan a meeting <br />
                    as soon as possible and needed. <br />
                </p>
            </div>
            <img src="~/assets/img/4.png" alt="...">
        </div>
    </div>
</div>
<!-- Blue area on website  -->
<div id="blue">
    <div class="text">
        <h1>Fast planning in IOS</h1>
    </div>
    <div class="row">
        <div class="span4">
            <div class="thumbnail" id="bluebackground">
                <div class="caption">
                    <h4>1. Add contacts</h4>
                    <p>
                        First, select the contact you want to meet with, <br />
                        these contact are gattered from your contactbook <br />
                        and your exchange account. <br />
                    </p>
                </div>
                <img src="~/assets/img/5.png" alt="...">
            </div>
        </div>

        <div class="span4">
            <div class="thumbnail" id="bluebackground">
                <div class="caption">
                    <h4>2. Required attendees</h4>
                    <p>
                        Your can choose the people that are  <br />
                        required to be present atn the meeting, <br />
                        These will be the contacts you choose as <br />
                        people to meet with. <br />
                    </p>
                </div>
                <img src="~/assets/img/6.png" alt="...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="thumbnail" id="bluebackground">
                <div class="caption">
                    <h4>3. Select time</h4>
                    <p>
                        A few possibilities make it possible to choose <br />
                        a duration for the meeting at a simple way. <br />
                    </p>
                </div>
                <img src="~/assets/img/7.png" alt="...">
            </div>
        </div>
        <div class="span4">
            <div class="thumbnail" id="bluebackground">
                <div class="caption">
                    <h4>4. Select duration</h4>
                    <p>
                        A duration can be chosen from a slider <br />
                        with different possibilities. <br />
                    </p>
                </div>
                <img src="~/assets/img/8.png" alt="...">
            </div>
        </div>
        <div class="span4">
            <div class="thumbnail" id="bluebackground">
                <div class="caption">
                    <h4>5. Meeting summary</h4>
                    <p>
                        After filling and choosing all the data <br />
                        needed to make a meeting, a summary will be created, <br />
                        after submitting this summary, the meeting <br />
                        will be sent to the contact you have chosen. <br />
                    </p>
                </div>
                <img src="~/assets/img/9.png" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- Green area on website  -->
<div id="green">
    <div class="row">
        <div class="span4">
            <div class="thumbnail" id="background1">
                <div class="caption">
                    <h4>Android support on login</h4>
                    <p>
                        Thanks to the support of android <br />
                        other devices using this operating system <br />
                        will be supported. <br />
                    </p>
                </div>
                <img src="~/assets/img/10.png" alt="...">
            </div>
        </div>
        <div class="span4">
            <div class="thumbnail" id="background2">
                <div class="caption">
                    <h4>Swiping</h4>
                    <p>
                        Swipe through the screens to get to the menu's. <br />
                    </p>
                </div>
                <img src="~/assets/img/11.png" alt="...">
            </div>
        </div>
        <div class="span4">
            <div class="thumbnail" id="background3">
                <div class="caption">
                    <h4>Screens</h4>
                    <p>
                        By swiping you'll get fast and simple to the next <br />
                        or previous screens, <br />
                        this will create a dynamic way to navigate <br />
                        , even blind people can use this app. <br />
                    </p>
                </div>
                <img src="~/assets/img/16.png" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- Yellow area on website  -->
<div id="yellow">
    <div class="row">
        <div class="span4">
            <div class="thumbnail" id="background4">
                <div class="caption">
                    <h4>1. Add contacts</h4>
                    <p>
                        First, select the contact you want to meet with, <br />
                        these contact are gattered from your contactbook <br />
                        and your exchange account. <br />
                    </p>
                </div>
                <img src="~/assets/img/12.png" alt="...">
            </div>
        </div>
        <div class="span4">
            <div class="thumbnail" id="background5">
                <div class="caption">
                    <h4>2. Select time frame</h4>
                    <p>
                        Fill in th data to quickly choose <br />
                        when to hold this meeting. <br />
                    </p>
                </div>
                <img src="~/assets/img/13.png" alt="...">
            </div>
        </div>
        <div class="span4">
            <div class="thumbnail" id="background6">
                <div class="caption">
                    <h4>Screens</h4>
                    <p>
                        Choose a location where to hold this meeting. <br />
                    </p>
                </div>
                <img src="~/assets/img/14.png" alt="...">
            </div>
        </div>
    </div>
</div>